.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;

  input {
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    height: 54px;
    margin-bottom: 15px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #4b4b4b;

    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  input:focus {
    outline: none;
  }
  &_modal {
    margin-top: 25px;
  }

  .error {
    input {
      margin-bottom: 0;
      border: 1px solid #ee0404;
    }
    &__label {
      color: red;
      margin-bottom: 10px;
    }
  }
}
